div(class="content-inner")
	div(class="headline dark size-20")="Playlist"
	div(class="album-container")
		if item
			div(class="album-container__photo-container")
				div(class="album-aside")
					img(src=item.playlist.photo alt="" class="album-aside__photo")
				div(class="headline light size-14")=`${item.amount_of_tracks} songs`
			div(class="album-container__tracks-container")
				div(class="headline headline__block dark size-20")=item.playlist.name
				div(class="headline headline__block accent size-20")=item.playlist.description
				div(id="playlist-track-list-id")