div(class="header")
	ul(class="header__list")
		li(class="header__list_home")
			a(href="" id="main_link" class="header__list_home__link") Covenant
		li(class="header__list_logout")
			a(href="" id="logout_link" class="header__list_logout__link")
				img(src="img/logout.png" width="34" height="34" alt="logout")
		li(class="header__list_avatar")
			a(href="" id="profile_avatar" class="header__list_avatar__link")
				if user.avatar !== ''
					img(src=user.avatar width="34" height="34" alt="user")
				else
					img(src="img/user.png" width="34" height="34" alt="user")
		li(class="header__list_name")
			a(href="" id="profile_name" class="header__list_name__link") #{user.username}

div(class="container")
	div(class="container__profile")
		div(class="profile")
			div(class="avatar")
				input(type="file" id="avatar_upload_input" name="image" accept=".jpg, .jpeg, .png" style="display:block; max-width: 200px")
				if user.avatar !== ''
					img(width="120" height="120" src=user.avatar alt="user_profile" id="avatar_upload" style="display: block; cursor:pointer")
				else
					img(width="120" height="120" src="img/user_profile.png" alt="user_profile" id="avatar_upload" style="display: block; cursor:pointer")

			div(class="info")
				if !page.edit
					div(class="info__user")
						label(class="info__user__name") #{user.username}
						div(class="info__user__edit")
							img(id="edit_pencil" class="info__user__edit__img" src="img/edit.png" width="32" height="32" alt="edit")
				else
					div(class="info__user")
						input(type="text" id="profile__name__input" value=user.username)
						div(class="info__user__save")
							img(id="save_info" class="info__user__edit__img" src="img/save.png" width="32" height="32" alt="save")

					div(class="info__buttons")
						div(class="info__buttons__shuffle")
							<button class="btn__shuffle" type="button">
							<img  class="btn__shuffle__img" src="img/play_dark.png" width="32" height="32" alt="play"/>
							<label class="btn__shuffle__label">Shuffle</label>
							</button>

						div(class="info__buttons__settings")
							button(class="btn__settings" type="button")
								img(class="btn__shuffle__settings" src="img/settings_dark.png" width="32" height="32" alt="settings")

		div(class="music")
			ul(class="tabs")
				each tab, index in page.tabs
					li
						if +index === 0
							input(type="radio" name="tabs" id="tab-"+index checked)
						else
							input(type="radio" name="tabs" id="tab-"+index)
						label(class="tab__label" for="tab-"+index) #{tab.name}
						div(class="tab-content") #{tab.text}

include ../Footer/Footer.pug
