div
    img(width=data.width height=data.height src=data.src alt=data.alt id="avatar_upload" style="display: block; cursor:pointer")
    input(type="file" id="avatar_upload_input" name="image" accept=data.accept style="display:block; max-width: 200px")

