div
    div(class="admin-header admin-header-area")
        h3(class="admin-header_h3")=title
        a(class="btn btn_add" id="create-item-btn")
            div(class="btn_add-inner")=addCaption
    div(class="admin-content-area")
        if columns && dataSource
            table(class="admin-table")
                tr
                    each column in columns
                        th(class=column.className)=column.title
                each item in dataSource.items
                    tr
                        each column in columns
                            if (column.title === 'Actions')
                                td
                                    div(class="actions")
                                        if editBtn
                                            button(class="edit-btn btn_row" name="edit-btn" data-id=item.id)
                                                img(alt="edit-icon" src="/static/img/admin/edit.png")
                                        if deleteBtn
                                            button(class="edit-btn btn_row" name="delete-btn" data-id=item.id)
                                                img(alt="delete-icon" src="/static/img/admin/delete.png")
                            else
                                td #{item[column.dataIndex]}
            div(id="pagination")