div(class=containerClasssName id="track-container")
	if title !== ''
		h1(class="track-list-container__title") #{title}
	ul(class="track-list col-2")
		each track in tracks
			li
				div(class="track-container")
					div(class="track-container__inner")
						div(class="track__avatar")
							if !track.isPlaying
								div(class="track__avatar_img clickable" id=track.id name="avatar_img")
							else
								div(class="track__pause_img clickable" id=track.id name="pause_img")
						div(class="track__name__block")
							div(class="track__name") #{track.name}
							div(class="track__artist") #{track.artist}
						if favs != null
							div(class="track__like pull-right")
								if checkFavourite(track)
									button(type="button" name="dislike" class="track__like_btn" id=track.id)
										img(class="clickable" src="static/img/heart_fill.png" width="20" height="20" alt="like")
								else
									button(type="button" name="like" class="track__like_btn" id=track.id)
										img(class="clickable" src="static/img/heart.png" width="20" height="20" alt="like")

						div(class="track__duration pull-right") #{track.duration}
