div
	div(class="admin-header admin-header-area")
		h3(class="admin-header_h3")="Edit artist"
	div(class="admin-content-area")
		form(class="form-edit" enctype="multipart/form-data")
			div(class="form-edit__container")
				label(class="form-edit__label")="Name"
				input(class="form-edit__input" type="text" name="name")
			div(class="form-edit__container")
				label(class="form-edit__label")="Upload image of artist:"
				input(class="form-edit__input" type="file" name="file")
			button(class="edit-btn btn_save" type="submit" id="save-btn")="Save"
			button(class="edit-btn btn_cancel" type="button" id="cancel-btn")="Cancel"